# Задание 1

### Основы чтения и записи данных:

● Прочитать данный набор данных из CSV файла.

● Сохранить первые 10 строк данных в новый Excel файл.

In [65]:
import pandas as pd

In [67]:
df = pd.read_csv('Таблица для ДЗ.csv')

In [69]:
df.head(10).to_excel('first_10_rows.xlsx', index=True)

### Работа с DataFrame:

● Создать новый DataFrame, содержащий только продажи Product A.

● Выбрать все строки, где Customer_Age больше 50 лет.

In [73]:
product_a_df = df[df['Product'] == 'Product A']
print(product_a_df)

          Date    Product  Sales  Customer_Age  Customer_Rating  Returned
3   2020-03-03  Product A     81            35                5     False
5   2020-04-15  Product A     88            58                2     False
9   2020-06-05  Product A     33            45                4     False
13  2020-08-28  Product A     70            65                2      True
14  2020-09-23  Product A     54            19                1     False

In [79]:
age_above_50_df = df[df['Customer_Age'] > 50]
print(age_above_50_df)

          Date    Product  Sales  Customer_Age  Customer_Rating  Returned
0   2020-01-08  Product B     87            55                4     False
1   2020-01-20  Product B      9            53                1     False
5   2020-04-15  Product A     88            58                2     False
10  2020-07-09  Product C     63            66                5      True
11  2020-08-09  Product B     36            61                5     False
13  2020-08-28  Product A     70            65                2      True

### Фильтрация и выбор данных:

● Выбрать все продажи с рейтингом покупателя 5.

● Выбрать все записи, где продукт был возвращен, и возраст покупателя меньше 30 лет.

In [81]:
rating_5_df = df[df['Customer_Rating'] == 5]
print(rating_5_df)

          Date    Product  Sales  Customer_Age  Customer_Rating  Returned
3   2020-03-03  Product A     81            35                5     False
10  2020-07-09  Product C     63            66                5      True
11  2020-08-09  Product B     36            61                5     False

In [89]:
returned_under_30_df = df[(df['Returned'] == True) & (df['Customer_Age'] < 30)]
print(returned_under_30_df)

         Date    Product  Sales  Customer_Age  Customer_Rating  Returned
8  2020-06-03  Product B     77            28                4      True

# Задание 2 - Задачи на использование .loc:

### Выбрать продажи для определенной даты:

● Используйте .loc для выбора всех строк, где дата продажи соответствует конкретной дате (например, '2020-04-15').

In [93]:
df.loc[df['Date'] == '2020-04-15']

         Date    Product  Sales  Customer_Age  Customer_Rating  Returned
5  2020-04-15  Product A     88            58                2     False

### Выбрать данные по диапазону индексов и определенным колонкам:

● Используйте .loc для выбора строк с 5 по 10 и колонок 'Product' и 'Sales'.

In [101]:
df.loc[5:10, ['Product', 'Sales']]

      Product  Sales
5   Product A     88
6   Product C     85
7   Product C     62
8   Product B     77
9   Product A     33
10  Product C     63

### Изменить данные для определенного условия:

● Используйте .loc для изменения значения 'Returned' на True для всех продаж, где 'Customer_Rating' равен 1.

In [116]:
df.loc[df['Customer_Rating'] == 1, 'Returned'] = True

# Задание 3 - Задачи на группировку данных:

### Группировка по продукту и подсчет среднего возраста покупателей:

● Группируйте данные по 'Product' и вычислите средний возраст ('Customer_Age') для каждого продукта.

In [121]:
df.groupby('Product')['Customer_Age'].mean()

Product
Product A    44.4
Product B    43.4
Product C    47.4
Name: Customer_Age, dtype: float64

### Группировка по рейтингу покупателя и подсчет общей суммы продаж:

● Группируйте данные по 'Customer_Rating' и подсчитайте общую сумму ('Sales') для каждого рейтинга.

In [123]:
df.groupby('Customer_Rating')['Sales'].sum()

Customer_Rating
1     63
2    264
3     97
4    259
5    180
Name: Sales, dtype: int64