# Задание 1 - Работа с файлами Data Frame

In [147]:
import pandas as pd

In [249]:
df = pd.read_csv('ДЗ_Pandas.csv')

#####  - Определите, в каких столбцах есть пропущенные значения. Удалите все строки, в которых пропущено значение в столбце 'Бюджет (млн $)'.

In [252]:
df.isnull().sum()

ID                 0
Название фильма    0
Год выпуска        0
Жанр               0
Рейтинг            2
Бюджет (млн $)     2
Сборы (млн $)      0
Режиссер           2
Основные актеры    0
dtype: int64

In [254]:
df.dropna(subset=['Бюджет (млн $)'])

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.8,120.0,500,NaN,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.5,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.6,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
5,6,Городские легенды,2018,Триллер,NaN,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,NaN,130.0,650,NaN,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.9,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
9,10,Тайны прошлого,2022,Мистика,7.1,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

##### - Заполните все пропущенные значения в столбце 'Режиссер' строкой 'Неизвестен'.

In [257]:
df['Режиссер'] = df['Режиссер'].fillna('Неизвестен')

In [259]:
df['Режиссер']

0        Неизвестен
1    Мария Смирнова
2     Алексей Попов
3    Кирилл Соколов
4        Петр Ильин
5     Ольга Петрова
6        Неизвестен
7    Роман Васильев
8     Елена Козлова
9    Дмитрий Иванов
Name: Режиссер, dtype: object

##### - Заполните все пропущенные значения в столбце 'Рейтинг' средним значением этого столбца.

In [262]:
df_mean = df['Рейтинг'].mean()
df['Рейтинг'].fillna(df_mean)

0    7.800
1    8.200
2    8.500
3    7.600
4    7.000
5    7.675
6    7.675
7    7.900
8    7.300
9    7.100
Name: Рейтинг, dtype: float64

##### - Если в строке пропущены значения и в 'Бюджет (млн $)', и в 'Сборы (млн)', удалите эту строку. В противном случае, если пропущено значение только в одном из этих столбцов, оставьте строку.

In [271]:
df.dropna(subset=['Бюджет (млн $)', 'Сборы (млн $)'], how='all')

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.8,120.0,500,Неизвестен,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.5,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.6,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
4,5,Загадка джунглей,2023,Приключения,7.0,NaN,350,Петр Ильин,"Антон Зайцев, Марина Краснова"
5,6,Городские легенды,2018,Триллер,NaN,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,NaN,130.0,650,Неизвестен,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.9,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
8,9,Ночные гонки,2019,Драма,7.3,NaN,270,Елена Козлова,"Алексей Петров, Мария Сергеева"
9,10,Тайны прошлого,2022,Мистика,7.1,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

# Задание 2 - Grouby

##### Группировка по Жанру:

- Сгруппируйте фильмы по жанру

- Рассчитайте средний рейтинг и средний бюджет в каждом жанре.

In [276]:
df = pd.read_csv('ДЗ_Pandas.csv')

In [290]:
df.groupby('Жанр')[['Рейтинг', 'Бюджет (млн $)']].mean()

                    Рейтинг  Бюджет (млн $)
Жанр
Боевик                 7.75            90.0
Драма                  7.90            60.0
Мистика                7.10            65.0
Научная фантастика      NaN           130.0
Приключения            7.60            90.0
Триллер                 NaN            40.0
Фантастика             7.80           120.0

##### Группировка по Году Выпуска:

- Сгруппируйте фильмы по году выпуска

- Определите общее количество фильмов и суммарные сборы в прокате по каждому году.

In [322]:
df.groupby('Год выпуска').agg({
    'Название фильма': 'count',
    'Сборы (млн $)': 'sum'
})

             Название фильма  Сборы (млн $)
Год выпуска
2018                       1            200
2019                       2            820
2020                       1            450
2021                       2            780
2022                       2            810
2023                       2           1000

##### Комбинированная Группировка:

- Сгруппируйте фильмы по жанру и году выпуска

- Рассчитайте средний рейтинг для каждой комбинации жанра и года выпуска

In [333]:
df.groupby(['Жанр', 'Год выпуска'])['Рейтинг'].mean()

Жанр                Год выпуска
Боевик              2019           7.6
                    2021           7.9
Драма               2019           7.3
                    2021           8.5
Мистика             2022           7.1
Научная фантастика  2023           NaN
Приключения         2020           8.2
                    2023           7.0
Триллер             2018           NaN
Фантастика          2022           7.8
Name: Рейтинг, dtype: float64

# Задание 3 - reset index

##### Группировка и Сортировка:

- Сгруппируйте фильмы по жанру и рассчитайте средний рейтинг для каждого жанра

- Сбросьте индекс и отсортируйте результаты по среднему рейтингу в убывающем порядке

In [347]:
df.groupby('Жанр')['Рейтинг'].mean().reset_index().sort_values(by='Рейтинг', ascending=False)

                 Жанр  Рейтинг
1               Драма     7.90
6          Фантастика     7.80
0              Боевик     7.75
4         Приключения     7.60
2             Мистика     7.10
3  Научная фантастика      NaN
5             Триллер      NaN

##### Анализ частоты:

- Используйте value_counts для определения, сколько фильмов было выпущено в каждом году

- Отсортируйте результаты по годам в порядке возрастания

In [365]:
df['Год выпуска'].value_counts().sort_index()

Год выпуска
2018    1
2019    2
2020    1
2021    2
2022    2
2023    2
Name: count, dtype: int64

##### Комбинированный Анализ:

- Сгруппируйте фильмы по режиссеру и жанру, затем рассчитайте общие сборы фильмов для каждой комбинации

- Сбросьте индекс и отсортируйте результаты по сумме сборов в убывающем порядке

In [393]:
df.groupby(['Режиссер', 'Жанр'])['Сборы (млн $)'].sum().reset_index().sort_values(by='Сборы (млн $)', ascending=False)

         Режиссер         Жанр  Сборы (млн $)
3  Кирилл Соколов       Боевик            550
7  Роман Васильев       Боевик            480
4  Мария Смирнова  Приключения            450
6      Петр Ильин  Приключения            350
1  Дмитрий Иванов      Мистика            310
0   Алексей Попов        Драма            300
2   Елена Козлова        Драма            270
5   Ольга Петрова      Триллер            200